<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <title>Github Pull checker</title>
  </head>
  
  <body>
    <div class="row text-center">
        <div class="col-3 mx-auto">
            <h1>GitHub User pull-request activity checker</h1>
            <form action="/" method="POST" onsubmit="$('#loading').show();">
                {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.username }}
                        <button type="submit" class="btn btn-primary mt-2">Check user</button>
                    </div>
            </form>
            <p><a href="{{ url_for('index') }}"><button class="btn btn-primary mt-2">Clear results</button></a></p>
        </div>
        <div id="loading" style="display:none;" class="mb-3"><img src="/static/ajax-loader.gif" alt=""></div>
    </div>
      {% if all_data %}
        <div class='row'>
          {% for project in all_data %}
          <div class='col-sm-4 mb-3'>
              <div class='card text-dark bg-light'>
                  <div class='card-body'>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item"><strong>Project name:</strong> {{ project["project"] }}</li>
                          <a href='{{ project["project_link"] }}' class="list-group-item">{{ project["project_link"] }}</a>
                          <li class="list-group-item"><strong>Star count:</strong> {{ project["stargazers_count"] }}</li>
                          {% if project["merged_pulls"] != [] %}
                            <li class='list-group-item'><strong>Merged pull-request links:</strong><button class="btn btn-primary float-end" type="button" data-bs-toggle="collapse" data-bs-target="#merged-{{ loop.index }}" aria-expanded="false" aria-controls="merged">Show links</button></li>
                            <div class="collapse" id="merged-{{ loop.index }}">
                              {% for merged in project["merged_pulls"] %}
                                <a href='{{ merged["link"] }}' class="list-group-item">{{ merged["link"] }}, comments {{ merged["comments"] }}</a>
                              {% endfor %}
                            </div>
                          {% else %}
                            <li class='list-group-item'><strong>No merged pull-requests from this user in this project</strong></li>
                          {% endif %}
                          {% if project["unmerged_pulls"] != [] %}
                            <li class='list-group-item'><strong>Unmerged pull-request links:</strong><button class="btn btn-primary float-end" type="button" data-bs-toggle="collapse" data-bs-target="#unmerged-{{ loop.index }}" aria-expanded="false" aria-controls="unmerged">Show links</button></li>
                            <div class="collapse" id="unmerged-{{ loop.index }}">
                              {% for unmerged in project["unmerged_pulls"] %}
                                <a href='{{ unmerged["link"] }}' class="list-group-item">{{ unmerged["link"] }}, comments {{ unmerged["comments"] }}</a>
                              {% endfor %}
                            </div>
                          {% else %}
                            <li class='list-group-item'><strong>No unmerged pull-requests from this user in this project</strong></li>
                          {% endif %}   
                      </ul>
                  </div>
              </div>
          </div>
          {% endfor %}
      {% elif all_data == [] %}
        <div class="row text-center">
          <h3>User with this username does not exist</h3>
        </div>
      {% elif all_data == None %}
        <div class="row text-center">
          <h3>Service unavailable. Please try again later</h3>
        </div>
      </div>
      {% endif %}
    <div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  
  </body>
</html>